.sidebar-hero{
    display: flex;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #020817;
}

.sidebar{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

#root, #app {
    height: 100%;
}
